.game-tile {
    background-color: white;
    width: 180px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /*background-image: url("/src/images/paper-mario-background-lrg.png");*/
    background-image: url("/src/images/paper-mario-background2.png");
    background-repeat: no-repeat;
    margin: 15px;
}

.game-tile:hover {
    opacity: .85;
    transition-duration: .2s;
}

.game-character-image {
    height: 130px;
}

.game-character-nameplate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    opacity: .9;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}